.App {
  text-align: center;
  background-image: linear-gradient(45deg,magenta,rebeccapurple,dodgerblue,green);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content {
  flex: 1;
}

/*
body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size:16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
