/* src/components/Footer/Footer.css */

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

/*
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a:hover {
    color: #ffcc00;
}

.facebook-icon {
    font-size: 24px;
    margin-top: 10px;
}
*/
