/* src/components/Header/Header.css*/
  
header {
    /*background-color: rgb(109, 131, 172);/*#f0eded;*/
    padding: 10px;
    margin: 0 20px;
    text-align: center;
    font-size: 2rem;
}

header h1 {
    color: #333031;
    font-size: 3rem;/*24px;*/
}