/* src/components/Header/Navigation.css */
/*ToDo: css style passt nicht ganz*/
nav {
    /*background-color: rgb(109, 131, 172);/*#f0eded;*/
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 15px currentcolor;
    border: 3px solid currentcolor;
}

nav button {
    margin: 0 auto;
}

nav button:hover {
    background-color: #179e062c;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid currentcolor;
}
  
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px; /*2rem;*/
    font-weight: bold;
}
  
nav a:hover {
    color: #ffcc00;
}

.navbar-toggler-icon {
    /*background-color: inherit; /* Hintergrundfarbe des Togglers */
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.85)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.85)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
}
  
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    outline: none; /* Entferne den blauen Umriss bei Aktivierung */
}
  
/* Ändere den Text von drei Linien zu X, wenn der Toggler aktiv ist */
/*.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    content: '\2715'; /* Unicode-Zeichen für close  
}
  
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon::before {
    content: '\2261'; /* Unicode-Zeichen für drei Linien 
}*/
