/* src/components/Body/PostIt.css.css */
#PostIt section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #bebcbc;
}

#PostIt h2 {
    color: #333;
}

#PostIt p {
    color: #000;
}
  
#PostIt ul {
    list-style-type: none;
    padding: 0;
}
  
#PostIt li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

#PostIt a {
    color: #000;
}

#PostIt a:hover {
    color: #1b1a1a;
}

#PostIt button {
    /*background-color: #4caf50;*/
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*
.dish-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.dish-info {
    flex: 1;
}
  
.dish-image {
    margin-left: 20px;
}
*/

/* Stile für aktive Notizen */
#PostIt .active {
    background-color: #007bff; /* Blaue Umrandung für aktive Notizen */
}
  
/* Stile für abgeschlossene Notizen */
#PostIt .completed {
    background-color: #28a745; /* Grüne Umrandung für abgeschlossene Notizen */
}